@import url(login.css);
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js");


.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

body  {
  margin: 0;
  padding: 0;
  background: url(https://images4.alphacoders.com/104/thumb-1920-1046944.jpg) no-repeat;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden
} 

@media screen and (max-width: 600px){
  body{background-size: cover}
}

#particles-js{
  height: 100%
}
  
.loginBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  min-height: 200px;
  background: #0d0d0d61;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box
}
  
  .user{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
  }
  
  h3{
    margin: 0;
    padding: 0 0 20px;
    color: #f5f4f6;
    text-align: center
  }
  
  .loginBox input{
    width: 100%;
    margin-bottom: 20px
  }
  
  .loginBox input[type="text"], 
  .loginBox input[type="password"]{
    border: none;
    border-bottom: 2px solid #f5f4f6;
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
  }
  
  .loginBox input[type="text"]:hover, 
  .loginBox input[type="password"]:hover{
    color: #f5f4f6;
    border: 1px solid #f5f4f6;
    box-shadow: 0 0 5px rgb(251, 250, 250);
  }
  
  .loginBox input[type="text"]:focus, 
  .loginBox input[type="password"]:focus{
    border-bottom: 2px solid #f5f4f6
  }
  
  .inputBox {
    position: relative
  }

  ::placeholder {
    color: #ffffff;
  }

  .inputBox span{
    position: absolute;top: 10px;
    color: #ffffff
  }
  
  .loginBox .login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .loginBox .login a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
    background: #f5f4f6;
    color: rgb(6, 6, 6);
    border-radius: 20px;
    cursor: pointer
  }
  
  .login a:hover{
    background-color: #4f93ff;
    height: 45px;
    transition: .2s ease-in-out;
  }

  .loginBox a{
    color: #4008cf;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 2rem;
  }

  .daftar{
    text-align: end;
  }