@import url(registrasi.css);

/* mengatur warna backgroud dan padding pada tag body bagian atas agar form tidak menempel diatas */
body{
margin: 0;
  padding: 0;
  background: url(https://images4.alphacoders.com/104/thumb-1920-1046944.jpg) no-repeat;
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden
}
 
/* mengatur warna backgroud form */
form{
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
}
 
/* mengatur border dan padding class form-container */
.form-container{
    border-radius: 10px;
    padding: 30px;
}